@import "public";
button{
    width:88px !important;
    .badge{
        padding:0;
        line-height:16px;
    }
}
.cart{
    min-height:800px;
    width: 970px;
    margin:0 auto;
    .cart_none{
        width:200px;
        margin:150px auto;
        p{
            margin-bottom:10px;
            text-align:center;
            color:#999;
        }
    }
    
    .cart_show{
        .user_remind{
            margin:20px 0;
            background: #fff;
            padding: 10px;
            color: #777;
            font-size: 14px;
            b{
                color: #ff4c66 !important;
                font-size: 18px;
                font-weight: 600;
            }
            .daren-price{
                background: #666;
                border-radius: 2px;
                color: #fff;
                padding: 5px 6px;
                font-size: 12px;
                
                i{
                    color: #e8a935;
                }
                .text-white{
                    color: #fff;
                }
            }
            
        }
        .cart_box{
            margin:10px 0;
            border: 1px solid #ececec;
            background: #fff;
            .cart-heading{
                color: #333;
                border-color: #ddd;
                
                padding: 10px 15px;
                border-bottom: 1px solid #ececec;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                .select_lable{
                    width: 28px;
                    height: 28px;
                    position: relative;
                    overflow: hidden;
                    display: inline-table;
                    
                }
                input{
                        margin:5px 0 0 5px;
                    }
                .text-gray {
                    color: #999 !important;
                }
                
            } 
            .cart_con{
                text-align: center;
                .cart-group-item{
                    position: relative;
                    display: block;
                    padding: 10px 15px;
                    margin-bottom: -1px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    color: #777;
                    .row{
                        margin-right: -4px;
                        margin-left: -4px;
                        .col{
                            padding-right: 4px;
                            padding-left: 4px;
                            .title{
                                height: 40px;
                                overflow: hidden;
                                line-height: 20px;
                            }
                            p{
                                .text-border{
                                   
                                    padding: 0px 5px;
                                    border-radius: 1px;
                                }
                                .text-border-red{
                                    border: 1px solid #c30 !important;
                                    color: #c30 !important;
                                }
                                .text-border-gold{
                                    border: 1px solid #e8a935 !important;
                                    color: #e8a935 !important;
                                }
                                .daren-price{
                                    background: #666;
                                    border-radius: 2px;
                                    color: #fff;
                                    padding: 5px 6px;
                                    font-size: 12px;
                                    .text-gold{
                                        color: #e8a935;
                                    }
                                }
                            }
                            .text-gray{
                                color:#999;
                            }
                        }
                        
                    }
                }
            }
            .order{
                padding: 15px;
                .foot10{
                    margin-bottom: 10px;
                }
                .well-sm {
                    padding: 9px;
                    border-radius: 3px;
                }
                .text-red{
                    color: #e93b78 !important;
                }
                .flash_price {
                    color: #ff4c66 !important;
                    font-size: 18px;
                    font-weight: 600;
                }
                .daren-price {
                    background: #666;
                    border-radius: 2px;
                    color: #fff;
                    padding: 5px 6px;
                    font-size: 12px;
                    .text-gold{
                        color: #e8a935;
                    }
                }
                .btn-danger:hover {
                    color: #fff;
                    background-color: #c9302c;
                    border-color: #ac2925;
                }
            }  
        }
    }
}
.select_lable{
    width: 28px;
    height: 28px;
    position: relative;
    overflow: hidden;
    display: inline-table; 
    label{
        cursor: pointer;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 0;
        left: 0;
        background: #ddd;
        border: 1px solid #ccc;
        border-radius: 12px;
        display: inline-table;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }
    label:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    top: 6px;
    left: 6px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
              
}